/* Author: Lucas Vincent Johanningmeier */

/* Navbar */
.navbar {
  position: relative;

  display: flex;
  width: calc(100% - 2rem);
  height: 60px;
  padding: 1rem;
  gap: 1rem;
  align-items: center;

  background-color: lightblue;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 25px;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  color: white;
  padding: 0.5rem 1rem;
  font-size: 25px;
  border-radius: 4px;

  cursor: pointer;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Hover States */
.navbar a:hover,
.dropdown-btn:hover {
  background-color: #444;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: flex;
}
