/* Author: Lucas Vincent Johanningmeier */

.navbar {
  height: 20px;
  width: 100% - 1rem;

  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: lightblue;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;

  font-size: 25px;
}

.navbar a:hover {
  background-color: #444;
}
