/* Author: Lucas Vincent Johanningmeier */

.textAndFont-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.textAndFont {
  padding-top: 80px;

  /*display: flex;
  flex-direction: column;
  gap: 1rem;*/
}

.textAndFont label {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
  color: inherit;
}

.textAndFont input[type="range"],
.textAndFont input[type="color"],
.textAndFont select {
  width: 100%;
  min-width: 200px;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  font: inherit;
  color: inherit;
}

.textAndFont-preview {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
