/* Author: Lucas Vincent Johanningmeier */

.sourceCode {
  display: flex;

  .sourceCode-left,
  .sourceCode-right {
    flex: 1;
  }
}

/* DEBUGGING */
.sourceCode-left,
.sourceCode-right {
  padding: 10px;
  margin: 10px;
  padding-left: 20px;

  border: 1px solid black;
}
