/* Author: Lucas Vincent Johanningmeier */

html,
body {
  overflow: hidden;
}

.sourceCode {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* DEBUGGING */
.sourceCode-left,
.sourceCode-right {
  padding: 10px;
  margin: 10px;
  padding-left: 20px;

  border: 1px solid black;

  flex: 1;
  overflow-y: auto;
}
